<header #target id="header" class="header ed-header s-bg-grey s-py-2 ">
    <div id="m-grid" class="ed-grid lg-grid-3 rows-gap">
        <div id="m-content-img" class="lg-rows-2 s-cross-center s-main-center lg-main-end m-order-1 lg-order-1">
            <img id="imagen-me" style="border-radius: 50%;" src="assets/carlos.jpg">
        </div>
        <div id="m-tabsid" class="lg-cols-2 s-main-center lg-main-end m-order-2 lg-order-2">
            <div class="m-tabs">
                <span class="m-tab">Portafolio</span>
                <span class="m-tab">Proyectos</span>
                <span class="m-tab">Estudios</span>
            </div>
        </div>
        <div id="m-info-personal" style="align-self: flex-start;"
            class="s-main-center m-main-center lg-main-center m-order-3 lg-order-3">
            <div>Carlos Manuel Cruz Venegas
                <div class="m-puesto">Software Developer</div>
            </div>
            <div id="m-banner-social" class="ed-item redes-sociales s-main-center m-main-center lg-main-center">
                <a title="Facebook" class="redes_item m-facebook" href="https://www.facebook.com/rbjpepo"
                    target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a title="Linkedin" class="redes_item m-linkedin"
                    href="https://www.linkedin.com/in/carlos-manuel-cruz-venegas-b852a5152/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a title="GitHub" class="redes_item m-github" href="https://github.com/pepobj" target="_blank">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="m-content-sms" class="m-content-sms s-main-center m-main-center lg-main-center m-order-4 lg-order-4">
            <button (click)="SendEmail();" class="m-correo"><i class="fa fa-envelope-o"></i>&nbsp;<span id="m-sms">Enviame un mensaje!</span>
            </button>
        </div>
    </div>

    <!-- <div class="ed-grid s-grid-3">
        <div class="m-order-1 lg-order-1 lg-rows-2">1</div>
        <div class="m-order-2 lg-order-2 lg-cols-2">2</div>
        <div class="m-order-3 lg-order-3">3</div>
        <div class="m-order-4 lg-order-4">4</div>
    </div>
    <br>
    <div class="ed-grid s-grid-4">
        <div class="m-order-1 lg-order-1 lg-rows-2">1</div>
        <div class="m-order-3 lg-order-3 ">2</div>
        <div class="m-order-2 lg-order-2">3</div>
        <div class="m-order-4 lg-order-4">4</div>
    </div> -->
</header>

<!--  <div id="header" class="header">
    <h1>Animated Fixed Header (Scroll Down)</h1>
  </div> -->
<!--  <div class="content">
  </div> -->

<!-- <div class="ed-grid rows-gap s-gap-20 m-gap-1 s-grid-2 m-grid-4 lg-grid-6 m-body-color">
    <div class="lg-rows-3">1</div>
    <div class="lg-cols-5">2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
</div> -->
<div class="ed-grid m-skills">
    <h3>Ultimos Proyectos Angular</h3>
    <div class="m-card-proyectos ed-grid s-pxy-2 s-border s-radius s-shadow-bottom">
        <h4>Proyecto web: Planroom</h4>
        <div>Planroom es una web donde las
            empresas pueden encontrar por proyecto los documentos,
            planos, imágenes favoritas tantas como enviadas y
            revisadas, así mismo los estados de cada documento de
            tal forma que puedan elegir cual descargar.</div>
    </div>

    <div class="m-card-proyectos ed-grid s-pxy-2 s-border s-radius s-shadow-bottom">
        <h4>Proyecto móvil: Field Share</h4>
        <div>Field Share es una app integrado con el
            software de gestión y contabilidad de proyectos de
            construcción de RedTeam en la web, lo que permite a los
            usuarios compartir el progreso, los gastos y las fotos.
            Permite a los equipos de construcción en el campo crear
            informes de progreso diarios, acceder a documentos de
            construcción y colaborar con propietarios, arquitectos.</div>
    </div>

    <div class="m-card-proyectos ed-grid s-pxy-2 s-border s-radius s-shadow-bottom">
        <h4>Proyecto web : HelpCenter</h4>
        <div>Centro de ayuda para usar ERP RedTeam , donde se muestra video tutoriales , test de preguntas una pestaña
            de wiki y una de ayuda para poder enviar tickets con archivos(videos imágenes, doc.) reportando problemas o
            errores en el app al equipo de soporte.</div>
    </div>

    <div id="skills" class="ed-grid s-pxy-2 s-border s-radius s-shadow-bottom">
        <h3>Skills</h3>
        <div *ngFor="let item of ArraySkills" class="m-bar">
            <div class="m-bar-progress m-opacity">
                <div>{{item.lenguaje}}</div>
            </div>
            <div class="m-bar-progress"
                [ngStyle]="{'background-color': item.color, 'width': item.porcentaje, 'color': item.color}">
           <!--      <div>{{item.lenguaje}}</div> -->
            </div>
        </div>
    </div>
</div>